.reports {
  margin-left: 12%;
  display: flex;
  flex-direction: column;
  padding: 10px;

  &__title {
    margin: 12px 0px;
    font-size: 20px;
  }

  &__table-wrapper {
    width: 100%;
    overflow-x: auto;
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
    -webkit-box-shadow: 14px 10px 17px -9px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 14px 10px 17px -9px rgba(0, 0, 0, 0.34);
    box-shadow: 14px 10px 17px -9px rgba(0, 0, 0, 0.34);
  }

  &__table-row {
    border: 1px solid #ddd;
  }


  &__table-row th, td {
    text-align: center;
    font-size: 1rem;
  }

  &__table-actions input {
    width: 100%;
    font-size: 10px;
  }

  &__form-wrapper input {
    font-size: 10px;
  }

  &__form-wrapper {
    margin-top: 10px;
  }
  &__filter-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__map-wrapper {
    width: 100%;
    height: 20rem;
    padding: 10px 0px;
    z-index: 1;
  }
  &__pdf-wrapper {
    width: 25%;
    height: 2rem;
  }
  &__alert-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.35);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
}